.flex-center {
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column !important;
  text-align: center !important;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;

  #logo {
    .st0 {
      fill: #212529;
    }
    .st1 {
      fill: #f61a42;
    }
    height: 120px;
    width: auto;
    fill: black;
  }

  .main-content {
    span,
    i {
      color: #f61a42;
    }
  }
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
